<!DOCTYPE html>
{% haml %}
%html.no-js lang = ""
  %head
    %meta charset = "utf-8"
    %meta content = "IE=edge" "http-equiv" = "X-UA-Compatible"
    %title
      Getting Started
    %meta content = "description", name = "description"
    %meta content = "width=device-width, initial-scale=1" name = "viewport"
    %link rel="icon" href="{{static('favicon.ico')}}"
    %link href = "{{static('build/css/app.css')}}" rel = "stylesheet"
    %script src = "{{static('build/vendor.js')}}"
    %script src = "{{static('build/app.js')}}"
  %body
    = body
    %script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-55845138-2', 'auto');
{% endhaml %}